# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Banco de Dados (PostgreSQL) - Solicitar a URL oficial para o DBA (Ligabo)
DATABASE_URL="postgresql://usuario:senha@localhost:5432/attendance_db?schema=public"

# Segurança JWT (Usada pelo Miguel no Frontend)
JWT_SECRET=coloque_uma_chave_secreta_aqui_para_desenvolvimento
JWT_EXPIRES_IN=1d

# Chave de Comunicação com a IA (Usada pelo Pietro no Python)
IA_API_KEY=super_chave_secreta_python_node_2026

# Segurança JWT
JWT_SECRET=coloque_uma_chave_secreta_aqui
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=outra_chave_bem_diferente_para_o_refresh
JWT_REFRESH_EXPIRES_IN=7d